<div class="footer">
  <div>
  <% if current_user %>
    <p>
      <span class="label label-default">
        Welcome <%= current_user.chefname %> 
      </span>
    </p>
    <p>
      <span class="label label-info">
        <%= link_to "Sign out", signout_path %>
      </span>
    </p>
    <p>
      <else>
        <span class="label label-info">
          <%= link_to "Sign in with Twitter", "/auth/twitter/" %>
        </span>
  <% end %>
    </p>
  </div>
  <div>
      <% if current_user %>
        <h5><%= link_to "Return to Recipes Listing", recipes_path, class: "btn btn-warning btn-small" %></h5>
      <% end %>
    </div>
    <p>&copy; MyRecipes 2015</p>
</div>

